.app-footer {
    background-color: #e4e5e6 !important;
    margin-top: 50px;
    border-top: 0px solid #c8ced3 !important;
}

@media only screen and (max-width: 767px) {
    body {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }